.content {
    font-size: 4em;
    font-family: 'helvetica neue', helvetica, arial , sans-serif;
    text-align: center;
    margin-top: 10%;
	color: #16161D;
	-webkit-animation: fadein 2s; /* Safari and Chrome */
	-moz-animation: fadein 2s; /* Firefox */
	-ms-animation: fadein 2s; /* Internet Explorer */
	-o-animation: fadein 2s; /* Opera */
	animation: fadein 2s;
}
		.content .title {
			margin-bottom: 10%;
		}
        .content .title span:first-child {
            font-weight: bold;
        }
		.content .links > a {
			width: 20%;
			display: inline-block;
			color: #16161D;
			text-decoration: none;
		}
		.content .links a .link-text {
			font-size: 0.3em;
			visibility: hidden;
			transition: visibility .25s ease-in-out;
		}
		.content .links a:hover .link-text {
			visibility: visible;
			transition: visibility .25s ease-in-out;
		}
		
		@keyframes fadein {
			from { opacity: 0; }
			to   { opacity: 1; }
		}
		/* Firefox */
		@-moz-keyframes fadein {
			from { opacity: 0; }
			to   { opacity: 1; }
		}

		/* Safari and Chrome */
		@-webkit-keyframes fadein {
			from { opacity: 0; }
			to   { opacity: 1; }
		}

		/* Internet Explorer */
		@-ms-keyframes fadein {
			from { opacity: 0; }
			to   { opacity: 1; }
		}​

		/* Opera */
		@-o-keyframes fadein {
			from { opacity: 0; }
			to   { opacity: 1; }
		}​
