.content {
	
	font-family: 'Nunito','helvetica neue', helvetica, arial , sans-serif;
    text-align: center;
	color: #16161D;
	animation: fadein 2s;
}

.content .title h2 {
	font-weight: bold;
	font-size: 4em;
	margin-bottom: 0px;
}

.content .title p {
	font-weight: bold;
	font-size: 2em;
	margin: 0px;
}

.content .title {
	margin-bottom: 40px;
}

.content .links > a {
	display: inline-block;
	color: #16161D;
	text-decoration: none;
	margin: 50px;
	font-size: 6em;
}

@keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}
